@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-primary: #d4af37;
  /* --color-primary-hover: #0070f3; */
  --color-secondary: #02413a;
  /* --color-secondary-hover: #888888; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #02413a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* Loader Component */
@layer utilities {
  .animate-progress-loading {
    animation: progress-loading 1.5s infinite ease-in-out;
  }

  @keyframes progress-loading {
    0% {
      transform: scaleX(0);
      transform-origin: left;
    }
    45% {
      transform: scaleX(1);
      transform-origin: left;
    }
    50% {
      transform: scaleX(1);
      transform-origin: right;
    }
    100% {
      transform: scaleX(0);
      transform-origin: right;
    }
  }
}

/*--------------------- Scrollbar style--------------------------- */

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #facc15c2 transparent;
}

/* Chrome, Edge, Safari */
*::-webkit-scrollbar {
  width: 2px; /* realistic minimum */
  height: 2px;
}

*::-webkit-scrollbar-track {
  background: transparent;
}

*::-webkit-scrollbar-thumb {
  background-color: #facc15c2;
  border-radius: 9999px;
  border: 1px solid transparent;
  transition: background-color 0.2s;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #facc15; /* darker yellow */
}
